body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 12rem;
    overscroll-behavior: none;
}
 
#hit {
    background-color: yellow;
}
#stay {
    background-color: lightgreen;
}
#double {
    background-color: red;
}

#split {
    background-color: lightblue;
}

#borderBlocks {
    background-color: grey;
}

#background {
    width: 100vw;
    height: 100vh;
}

.the-game {
    width: 66vw;
    height: 100vh;
}

.the-game h2 {
    padding-top: 5rem;
    text-align: center;
}
#dealer-sum {
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px; 
    width: 125px; 
    margin: 1px;
}

.buttons {
    white-space: nowrap;
}
#hitbut {
    width: 100px;
    height: 50px; 
    font-size: 20px;
}

#staybut {
    width: 100px;
    height: 50px; 
    font-size: 20px;
}

#new-game {
    float: left;
    margin: 2rem;
    width: 125px;
    height: 50px;
    font-size: 20px;
}

#next-hand {
    width: 110px;
    height: 50px;
    font-size: 20px;
}

#rem-cards {
    justify-content: center;
    padding-right: 9rem;
    margin: 2rem;

    display: none;
}

#main-menu {
    display: flex;
    position: absolute; 
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#background {
    /* Optional: Add some border or styling */
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
}
.menu-buttons {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 1rem;

}

#start {
    width: 100px;
    height: 50px;
    margin: 1rem;
}
#settings {
    width: 100px;
    height: 50px;
    margin: 1rem;
}

#settings-model {
    border: 2px solid black;
    display:none;

}
#settings-model h1 {
    text-decoration: underline;
}

.settings-menu {
    background-color: grey;
    padding: 1rem;
    padding-top: 2px;
}
.closer-box {
    float: right;
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
}

table {
    border-collapse: collapse;

}

.basic-strategy {
    width:33vw;
    height: 100vh;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 7px;
}

.running-count h1{
    font-size: 2.5rem;
}
.running-count h2 {
    background-color: yellow;
    font-size: 1rem;
}
.running-count h3 {
    font-size: 1rem;
}

.running-count {
    text-align: center;
}
.playerCount {
    display:flex;
}
.playerCount button {
    margin: .5rem;
    height: 3rem;
}

/* NAV BAR */
.headings{
    position: absolute;
    align-items: center;
    justify-content: space-between;
    background: #24262b;
    max-height: 185px;
    box-sizing: border-box;
    width: 100vw;
    top: 0;
    left: 0;
    padding-bottom: 10rem;
    z-index: 10;
}

nav{
    position: absolute;
    gap: 5rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav ul li a:hover{
    color: gold;
    text-decoration: underline;
}

/* #background {
    width: 100vw;
    height: 100vh;
} */