body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 12rem;
    overscroll-behavior: none;
    overflow-x: hidden;
}

#main-menu {
    display: flex;
    position: absolute; 
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#background {
    /* Optional: Add some border or styling */
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
}
.menu-buttons {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 1rem;
}


#start, #settings {
    width: 100px;
    height: 50px;
    margin: 1rem;
}

#settings-model {
    border: 2px solid black;
    display:none;
}

#settings-model h1 {
    text-decoration: underline;
}

.settings-menu {
    background-color: grey;
    padding: 1rem;
    padding-top: 2px;
}
.closer-box {
    float: right;
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
}


/* NAV BAR */
.headings{
    position: absolute;
    background: #24262b;
    max-height: 185px;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
}

nav{
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav ul li a:hover{
    color: gold;
    text-decoration: underline;
}

