*{
    margin:0; 
    padding:0;
    font-family: sans-serif;
}
.section-container {
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    color: white;
}

.section-container:nth-of-type(even) {
    background-color: gold;
    color: black;
}

/* website colors and styles**/
.headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: grey;
    max-height: 185px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

nav ul li a:hover{
    color: gold;
    text-decoration: underline;
}

/** INTRODUCTION SECTION */
.intro{
    width: 100%;
    height: 100%;
    position: relative;
    
    text-align: center;
    justify-content: center;
    align-items: center;

}

.intro ul a {
    display: block;
    padding: 0 0 0 0;
    text-decoration: none;
    width:100%;
}

.intro h1{
    padding: 70px 0;
    font-size: 50px;
}
.name {
    color: gold;
}

.intro p{
    margin-left: 0px;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;
}

.intro img {
    max-width: 275px;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 5px solid gold;
    float: right;
}

/** STEELERS SECTION */

.steeler h1 {
    padding: 100px 0;
    font-size: 56px;
}

.steeler img {
    float: right;
}

/** CODING EXPERIENCE SECTION */ 
.coder h1 {
    font-size: 56px;
}

.coder img {
    float: left;
}

/** ABOUT ME SECTION */
.about {
    display: flex;
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative; 
    justify-content: space-between;
    align-items: center;    
}
.about h1 {
    text-align: left;
    font-size: 56px;
    margin-left: 10px;
}

.about h2 {
    text-align: center;
    margin-left: 10px;
}

.about img {
    max-width: 275px;
    width: 275px;
    height: 275px;
    border: 5px solid black;
    float: left;
}
/** ENDING SECTION */ 

.footer img {
    height: 100%;
    width: 100%;
    /** height: 333px;
    width: 789px; */
}
